apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-ephemeral
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-ephemeral
  template:
    metadata:
      labels:
        app: postgres-ephemeral
    spec:
      containers:
        - name: postgres
          image: postgres:16
          env:
            - name: POSTGRES_USER
              value: demo
            - name: POSTGRES_PASSWORD
              value: demo
            - name: POSTGRES_DB
              value: ephemeraldb
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: ephemeral-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: ephemeral-storage
          emptyDir: {}
