## ResourceQuota = resource limits for entire namespace
## see LimitRange for resource limits on per-pod basis
apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-quota
  namespace: secure-app
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    pods: "20"
    services: "10"
    secrets: "20"
